[submodule "bundle/tComment"]
	path = bundle/tComment
	url = git@github.com:vim-scripts/tComment.git
[submodule "bundle/vim-angular"]
	path = bundle/vim-angular
	url = git@github.com:burnettk/vim-angular.git
